html, body { height: 100% }

html {
  scroll-behavior: smooth;
  font-family: "futura-pt" !important;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #BBBBBB;
}

::-webkit-scrollbar-thumb:hover {
  background: #DDDDDD;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;

  font-family: "futura-pt";

  animation: hueshift 60s infinite;
}

@keyframes hueshift {
  0%{filter:hue-rotate(0deg);}
  25%{filter:hue-rotate(90deg);}
  50%{filter:hue-rotate(180deg);}
  75%{filter:hue-rotate(240deg);}
  100%{filter:hue-rotate(360deg);}
}

@keyframes antihs {
  0%{filter:hue-rotate(0deg);}
  25%{filter:hue-rotate(-90deg);}
  50%{filter:hue-rotate(-180deg);}
  75%{filter:hue-rotate(-240deg);}
  100%{filter:hue-rotate(-360deg);}
}

.background-a {
  overflow-x: hidden;

  background:
  radial-gradient(circle, transparent 20%, seagreen 20%, seagreen 80%, transparent 80%, transparent),
  radial-gradient(circle, transparent 20%, seagreen 20%, seagreen 80%, transparent 80%, transparent) 50px 50px,
  linear-gradient(#3F9C68	8px, transparent 8px) 0 -4px,
  linear-gradient(90deg, #3F9C68 8px, transparent 8px) -4px 0;
  background-color: seagreen;

  background-size:100px 100px, 100px 100px, 50px 50px, 50px 50px;

  background-attachment: fixed;
  display: block;
  height: 106%;
  left: -5%;
  top: -5%;
  right: -5%;
  z-index: -1;

  position: fixed;
}

.background-b {
  overflow-x: hidden;

  background:
  linear-gradient(135deg, seagreen 21px, #3F9C68 22px, #3F9C68 24px, transparent 24px, transparent 67px, #3F9C68 67px, #3F9C68 69px, transparent 69px),
  linear-gradient(225deg, seagreen 21px, #3F9C68 22px, #3F9C68 24px, transparent 24px, transparent 67px, #3F9C68 67px, #3F9C68 69px, transparent 69px)0 64px;
  background-color:seagreen;

  background-size: 64px 128px;

  background-attachment: fixed;
  display: block;
  height: 100%;
  left: -5%;
  top: 100%;
  right: -5%;
  z-index: -1;

  position: fixed;
}

.background-c {
  overflow-x: hidden;

  background:
  radial-gradient(circle at 100% 50%, transparent 20%, #3F9C68 21%, #3F9C68 34%, transparent 35%, transparent),
  radial-gradient(circle at 0% 50%, transparent 20%, #3F9C68 21%, #3F9C68 34%, transparent 35%, transparent) 0 -50px;
  background-color: seagreen;

  background-size:75px 100px;

  background-attachment: fixed;
  display: block;
  height: 100%;
  left: -5%;
  top: 200%;
  right: -5%;
  z-index: -1;

  position: fixed;
}

.background-d {
  overflow-x: hidden;

  background:
  linear-gradient(135deg, seagreen 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, seagreen 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, seagreen 25%, transparent 25%),
  linear-gradient(45deg, seagreen 25%, transparent 25%);
  background-color: #3F9C68;

  background-size: 100px 100px;

  background-attachment: fixed;
  display: block;
  height: 100%;
  left: -5%;
  top: 300%;
  right: -5%;
  z-index: -1;

  position: fixed;
}

.keypoint {
  position: absolute;
  display:block;
	text-align:center;
  height: 100%;
	width: 1%;
  overflow: auto;
}

.orient-top {
  overflow: auto;
  margin: auto;
  top: 0%;
  padding-top: 1%;
}

.home-pg-arrow {
  position: absolute;
  overflow: auto;
  margin: auto;

  width: 5%;

  left: 0; right: 0;

  transition: 0.3s;
}

.home-pg-arrow:hover {
  opacity: 0.5;
}

#landing {
  top: 0%;
}

#about {
  top: 100%;
}

#designs-games {
  top: 200%;
}

#contact {
  top: 300%;
}

#hamburger {
  position: fixed;
  overflow: auto;
  margin: auto;
  display: block;

  width: 4%;

  top: 0; right: 0.5%;

  transition: 0.3s;
}

#hamburger:hover {
  opacity: 0.5;
}

#logo-home-pg {
  position: absolute;
  overflow: auto;
  margin: auto;

  top: 0%; left: 0; bottom: 0; right: 0;

  width: 50%;

  transition: 0.3s;
}

#logo-home-pg:hover {
  opacity: 0.7;
}

#logo-dg {
  position: absolute;
  overflow: auto;
  margin: auto;

  top: 0; left: 0; right: 0;

  width: 15%;

  transition: 0.3s;
}

#logo-dg:hover {
  opacity: 0.7;
}

#profile {
  position: absolute;
  overflow: auto;
  margin: auto;

  top: 200%; left: 8%; bottom: 0; right: 92%;

  width: 28%;
}

h1 {
  color: white;
  font-size: 7vw;

  text-shadow: 0 0.1vw 10px #222222, 0 0 5px #000000;
}

#abt-me {
  position: absolute;
  overflow: auto;
  margin: auto;

  top: 110%; right: 16%;
}

#abt-desc {
  position: absolute;
  overflow: auto;
  margin: auto;

  padding-right: 7.5%;

  color: white;
  font-size: 2.5vw;
  text-align: center;
  text-shadow: 0 0.1vw 10px #222222, 0 0 5px #000000;

  top: 127%; left: 40%;
}

#resume-button {
  position: absolute;
  overflow: auto;
  margin: auto;

  background-color: #FFFFFF;
  border: none;
  color: #3F9C68;
  padding: 15px 32px;

  box-shadow: 0 0.4vw 10px #444444, 0 0 5px #222222;

  text-align: center;
  text-decoration: none;
  display: inline-block;

  top: 180%; left: 58%;

  font-size: 1.5vw;
  margin: 4px 2px;

  transition: 0.3s;
}

#resume-button:hover {
  opacity: 0.5;
}

#designs {
  position: absolute;
  overflow: auto;
  margin: auto;

  transition: 0.3s;

  top: 243%; left: 12%;
}

#designs:hover {
  opacity: 0.5;
}

#games {
  position: absolute;
  overflow: auto;
  margin: auto;

  transition: 0.3s;

  top: 243%; right: 12%;
}

#games:hover {
  opacity: 0.5;
}

#contact-me {
  position: absolute;
  overflow: auto;
  margin: auto;

  font-size: 6vw;
  text-align: center;

  top: 312%; left: 0; right: 0;
}

.input-field {
  position: absolute;
  overflow: auto;
  margin: auto;

  padding:8px;
  display:block;

  font-size: 1vw;
  font-family: "futura-pt";

  border: none;
  border-bottom: 1px solid #FFFFFF;

  background-color: #FFFFFF;
  opacity: 0.6;

  width: 50%;
  left: 0; right: 0;

  transition: 0.3s;
}

.input-field:hover {
  opacity: 0.3;
}

.input-field:focus {
  opacity: 0.8;
}

#input-name {
  top: 330%;
}

#input-phone {
  top: 340%;
}

#input-email {
  top: 350%;
}

#input-message {
  top: 360%;
  height: 15%;
}

#submit-button {
  position: absolute;
  overflow: auto;
  margin: auto;

  background-color: #FFFFFF;
  border: none;
  color: #3F9C68;
  padding: 15px 32px;

  box-shadow: 0 0.4vw 10px #444444, 0 0 5px #222222;

  text-align: center;
  text-decoration: none;
  display: inline-block;

  width: 6%;
  top: 380%; left: 44%; right: 0;

  font-size: 1vw;
  margin: 4px 2px;

  transition: 0.3s;
}

#submit-button:hover {
  opacity: 0.5;
}

#copyright {
  position: absolute;
  overflow: auto;
  margin: auto;

  color: white;
  font-size: 2vw;

  text-shadow: 0 0.1vw 10px #222222, 0 0 5px #000000;

  top: 395%; left: 0.5%;
}

#landing-darrow {
  top: 90%;
}

#about-uarrow {
  top: 104%;
}

#about-darrow {
  top: 190%;
}

#dg-uarrow {
  top: 204%;
}

#dg-darrow {
  top: 290%;
}

#content-uarrow {
  top: 304%;
}

.sidenav {
  height: 0;
  position: fixed;
  z-index: -2;
  top: -1%; left: -5%; right: -5%;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 32px 8px 32px;
  text-decoration: none;
  font-size: 4vw;
  text-align: center;
  color: #3F9C68;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #72CFB2;
}

.sidenav .closebtn {
  position: absolute;
  top: 1%; right: 5%;

  width: 4%;
}

.sidenav .closebtn:hover {
  opacity: 0.5;
}

.dropdown {
  height: 0;
  position: fixed;
  z-index: -2;
  top: 55%; left: -5%; right: -5%;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.dropdown .closebtn {
  position: absolute;
  top: 2%; right: 5%;

  width: 3%;
}

.dropdown .closebtn:hover {
  opacity: 0.5;
}

.linklogo {
  padding: 8px 8px 8px 32px;
  position: absolute;
  display: block;
  top: 70%;
  width: 8%;
  transition: 0.3s;
  bottom: 0;
}

#twitter {
  left: 20%;
}

#linkedin {
  left: 44%;
}

#gmail {
  left: 70%;
}

.linklogo:hover {
  opacity: 0.5;
}

#designs-title {
  text-align: left;

  top: 2%; left: 14%;

  transition: 0.3s;
}

#games-title {
  text-align: right;

  top: 2%; right: 17%;

  transition: 0.3s;
}

#games-title:hover {
  opacity: 1.0;
}

.dg-title {
  position: absolute;
  overflow: auto;
  margin: auto;

  font-size: 4vw;
}

.in-other {
  opacity: 0.5;
}

.in-other:hover {
  opacity: 1;
}

#row-a {
  position: absolute;
  overflow: auto;
  margin: auto;

  top: 15%;
}

.row {
  animation: antihs 60s infinite;

  display: flex;

  width: 95%;

  left: 0; right: 0;
}

.column {
  flex: 40%;
  padding: 20px;

  filter: grayscale(100%);

  transition: 0.3s;
}

.column:hover {
  filter: grayscale(0%);
}

@media only screen and (orientation: portrait) {
  #hamburger {
    width: 10%;

    padding-right: 2%;
  }

  #logo-home-pg {
    width: 80%;
  }

  .home-pg-arrow {
    width: 8%;
  }

  #landing-darrow {
    top: 94%;
  }

  #about-uarrow {
    top: 102%;
  }

  #about-darrow {
    top: 194%;
  }

  #dg-uarrow {
    top: 202%;
  }

  #dg-darrow {
    top: 294%;
  }

  #content-uarrow {
    top: 302%;
  }

  #contact {
    top: 303%;
  }

  #abt-me {
    font-size: 10vw;

    text-align: center;

    left: 0; right: 0; top: 108%;
  }

  #contact-me {
    font-size: 10vw;
  }

  #abt-desc {
    padding-right: 8%;

    font-size: 5.2vw;

    top: 140%; left: 5%;
    width: 90%;
  }

  #resume-button {
    font-size: 3vw;

    padding: 10px 22px;

    top: 180%; left: 20%; right: 20%;
  }

  #designs {
    font-size: 15vw;
    text-align: center;

    top: 230%; left: 0; right: 0;
  }

  #games {
    font-size: 15vw;
    text-align: center;

    top: 255%; left: 0; right: 0;
  }

  .input-field {
    font-size: 2vw;

    width: 90%; height: 4%;
  }

  #input-name {
    top: 325%;
  }

  #input-phone {
    top: 335%;
  }

  #input-email {
    top: 345%;
  }

  #input-message {
    top: 355%;
    height: 15%;
  }

  #submit-button {
    font-size: 3vw;

    left: 35%; top: 382%;
    width: 15%;
  }


  .sidenav .closebtn {
    width: 10%;

    padding-right: 2%;
  }

  .linklogo {
    width: 16%;
    top: 75%;
  }

  #twitter {
    padding-left: 0px;
    left: 10%;
  }

  #linkedin {
    left: 34%;
  }

  #gmail {
    width: 15%;
    left: auto; right: 10%;
  }

  #designs-title {
    left: 12%;
  }

  #games-title {
    right: 18%;
  }

  #logo-dg {
    width: 25%;
    top: 1%;
  }

  #profile {
    top: 155%;

    height: 20%; width: auto;

    left: 0; right: 0;
  }

  .row {
    display: block;

    width: 70%;
  }

  #row-a {
    top: 10%;
  }

  #background-a-dg {
    height: 220%;
  }

  .sidenav a {
    font-size: 8vw;
  }
}
